vti_encoding:SR|utf8-nl
vti_author:SR|REDMOND\\abegel
vti_modifiedby:SR|REDMOND\\abegel
vti_timelastmodified:TR|22 Sep 2015 22:55:57 -0000
vti_timecreated:TR|22 Sep 2015 22:55:57 -0000
vti_cacheddtm:TX|22 Sep 2015 22:55:57 -0000
vti_filesize:IR|5256
vti_cachedlinkinfo:VX|S|../img/imgbg.png S|../img/button.png
vti_cachedsvcrellinks:VX|FSUS|img/imgbg.png FSUS|img/button.png
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.php callforparticipation.php socialprogram.php scm.php callforpapers.php contact.php workshops.php venue.php qtapc2008.php program.php keynote.php committees.php registration.php news.php default.htm sponsors.php housing.php photos.php papers.php
